<%=stylesheet_link_tag('user')%>
<div class="main">
    <div>
      <i class="fa-brands fa-square-x-twitter"></i>
    </div>
    <div class="picture_container">
      <a id="picture_link" href=<%= "/users/#{user.id}" %>>
        <%= image_tag(user.photo, class: "img_profile") %>
      </a>
    </div>
    <div class="name_container">
      <a href=<%= "/users/#{user.id}" %>>
        <h3> User Name: <%= user.name %> </h3>
      </a>
        <p> Number of posts: <%= user.posts_counter %> </p>
    </div>
  </a>
</div>
