<%=stylesheet_link_tag('user')%>
<div class="main-show">
  <div>
    <i class="fa-brands fa-square-x-twitter"></i>
  </div>
  <div class="name_container">
    <h3> User Name:<%= @user.name %> </h3>
    <p> Number of posts: <%= @user.posts_counter %> 
  </div>
</div>

<div class="user-bio">
  <p>Bio</p>
  <p> <%= @user.bio %> </p>
</div>

  <% @user.recent_posts.each do |post| %>
    <div class="each_post">
    <a id="link_each_post" href=<%= "/users/#{@user.id}/posts/#{post.id}" %>>
        <p><%= post.title %></p>
        <p class="post_text"><%= post.text.slice(0..60) %>...</p>
      
      <div class="comment_like">
      <div>
        <p>Comments: <%= post.comments_counter %></p>
        </div>
        <div>
        <p>Likes: <%= post.likes_counter %></p>
        </div>
      </div>
    </div>
  <% end %>

<%= link_to "See all posts", "/users/#{@user.id}/posts",  class: "see_all_posts_btn" %>
