<%=stylesheet_link_tag('post')%>
<div class="main-post">
  <div>
    <i class="fa-brands fa-square-x-twitter"></i>
  </div>
  <div class="picture_container">
    <%= image_tag(@user.photo, class: "img_profile") %>
  </div>
  <div class="post-name">
    <h3> User Name:<%= @user.name %> </h3>
    <p> Number of posts: <%= @user.posts_counter %> </p>
  </div>
</div>
  <% @user.posts.each do |post| %>
    <div class="recent_post">
    <a href=<%= "/users/#{@user.id}/posts/#{post.id}"%> class="recent-posts-post">
        <p><%= post.title %></p>
        <p class="post_text"><%= post.text %></p>
      </a>
      <div class="comment_like">
        <div>
          <p>Comments: <%= post.comments_counter %></p>
          </div>
          <div>
          <p>Likes: <%= post.likes_counter %></p>
          </div>
      </div>
      <div>

    </div>
    </div>
    
    <div class="comments_container">
      <% post.recent_comments.each do |comment| %>
        <%= render partial: 'shared/comment', locals: { comment: comment } %>
      <% end %>
    </div>
  <% end %>

<a href="#" class="pagination">Pagination</a>
